/bin
/build
/out
.buildpath
.classpath
.settings
.project
*.log
src/DatabaseConnection.xml

*.iml
.externalToolBuilders/
Test.java
*.prefs
.metadata
.directory
.settings/.jsdtscope
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.wst.common.component
.settings/org.eclipse.wst.common.project.facet.core.xml
.idea
BTCL.iml

/out
*.iml
/lib
WebContent/WEB-INF/jetty-web.xml
/dist/
/nbproject/
/target/

btcl-automation\.iml
src/log4j*
*.java_bak
*.java_old
btcl-automation.eml
src/\.fuse_hidden00008d2700000073
.history

*.json
node_modules/*
