#accordion .panel-heading {
	padding: 0;
}
 
.paddingleft
{
	padding-left:0px;
}

#accordion .panel-title>a {
	display: block;
	padding: 0.4em 0.6em;
	outline: none;
	font-weight: bold;
	text-decoration: none;
}

#accordion .panel-title>a.accordion-toggle::before, #accordion a[data-toggle="collapse"]::before
	{
	content: "\e113";
	float: left;
	font-family: 'Glyphicons Halflings';
	margin-right: 1em;
}

#accordion .panel-title>a.accordion-toggle.collapsed::before, #accordion a.collapsed[data-toggle="collapse"]::before
	{
	content: "\e114";
}
#accordion.panel-group .panel{
	margin-top: 5px;
}
#accordion .actions_div > a {
     font-size: 14px;
    margin-right: 15px;
    padding: 1px 0 2px;
}
#accordion .actions_div > a.exit-btn {
 color: #d36b7e;
}
#accordion .remove_field.exit-btn{
 color: #d36b7e;
    float: left;
    font-size: 15px;
    margin-left: 7px;
    margin-top: 9px;
}
#ajax_submit_button{
 margin-left: 10px;
}